name: Deploy

on:
  push:
    branches:
      - main
    paths:
      - 'apps/**'
      - 'libs/**'

  pull_request:
    branches:
      - main
    paths:
      - 'apps/**'
      - 'libs/**'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build Frontend
        run: npx nx build admin-ui --configuration=production

      - name: Build Backend
        run: npx nx build api --configuration=production